

#grid-pagina{
    display: grid;
    grid-template-areas: "welcome  welcome welcome"
                         "promotii promotii anunturi"
                         "fig1     produse   produse"
                         "fig2     produse   produse"
                         "orar     orar      orar"
                         "index-intrebari index-intrebari index-intrebari";
}

#grid-pagina > *{
    outline: 1px solid black;
    padding: 4px;
}

main{
    padding-left: var(--spartiere-pagina);
    padding-right: var(--spartiere-pagina);
}

#welcome{
    grid-area: welcome;
}
#promotii{
    grid-area: promotii;
}
#anunturi{
    grid-area: anunturi;
}
#orar{
    grid-area: orar;
}
 
#fig1{
    grid-area: fig1;
}
#fig2{
    grid-area: fig2;
}
#fig3{
    grid-area: fig3;
}
#produse{
    grid-area: produse;
}
#index-intrebari{
    grid-area: index-intrebari;
}

figcaption{
    text-align:center;
}

@media screen and (max-width: 800px) {

    #body{
        --spatiere-pagina:20px;
    }
    
}