<footer>
    <details>
        <summary>Cum aflati mai exact daca un vehicul chiar are un raport calitate pret bun?</summary>
        <p>Folosim urmatoarea formula matematica:</p>
        <math xmlns="http://www.w3.org/1998/Math/MathML">
            <mi class="math-red-bold">V</mi>
            <mo>=</mo>
            <mfrac>
                <mrow>
                    <msub>
                        <mi class="math-green">w</mi>
                        <mn>1</mn>
                    </msub>
                    <mi class="math-blue-italic">A</mi>
                    <mo>+</mo>
                    <msub>
                        <mi class="math-green">w</mi>
                        <mn>2</mn>
                    </msub>
                    <mi class="math-blue-italic">K</mi>
                    <mo>+</mo>
                    <msub>
                        <mi class="math-green">w</mi>
                        <mn>3</mn>
                    </msub>
                    <mi class="math-blue-italic">S</mi>
                </mrow>
                <mi class="math-red-bold">P</mi>
            </mfrac>
        </math>

        <p>Unde:</p>
        <ul>
            <li><i>V</i> = Valoarea raportului de calitate </li>
            <li><i>A</i> = Varsta vehiculului (ani)</li>
            <li><i>K</i> = Kilometraj (mii km)</li>
            <li><i>S</i> = Stare tehnica (nota 1-10)</li>
            <li><i>P</i> = Pret (mii lei)</li>
            <li><i>w<sub>1</sub></i> = 0,3 (pondere varsta)</li>
            <li><i>w<sub>2</sub></i> = 0,3 (pondere kilometraj)</li>
            <li><i>w<sub>3</sub></i> = 0,4 (pondere stare tehnica)</li>
        </ul>

        <p>
            <i>Lucram din greu la imbunatatirea serviciilor noastre, astfel factorul de calitatea ar putea
                suporta schimbari majore.</i><br>
            <b>Schimbarile vor fi anuntate conform termenilor si conditiilor!</b>
        </p>
    </details>

    <div class="print-banner">Acesta este un proiect şcolar!</div>

    <div class="watermark">
        <span>Stefan</span>
        <span>Vlad-Ionut</span>
    </div>
</footer>