<header id="top">
  <div class="header">
    <a href="index"><h1 class="logo">Auto<span>SV</span></h1></a>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <nav>
      <ul class="nav-links">
        <li>
          <a href="index" class="home-link">
            <span class="full-text">Acasă</span>
            <i class="fa-solid fa-house icon-replacement"></i>
          </a>
        </li>
        <li><a href="anunturile-speciale">Anunțurile speciale</a>
          <ul>
            <li><a href="#zona2">Cele mai vandute masini</a></li>
            <li><a href="#zona8">Anunțul zilei</a></li>
          </ul>
        </li>
        <li><a href="#contul-meu">Contul meu</a>
          <ul>
            <li><a href="#login">Logheaza-te</a></li>
            <li><a href="#register">Inregistreaza-te</a></li>
          </ul>
        </li>
        <li><a href="#plaseaza-anunt">Plasează un anunț</a></li>
      </ul>
    </nav>
  </div>
</header>