<div class="container-videosite">
        <video controls poster="./resurse/imagini/cautiomasina.jpg" preload="metadata">
            <source src="./resurse/video/videositemp4.mp4" type="video/mp4">
            <source src="./resurse/video/videositeogv.ogv" type="video/ogv">

             <track 
                label="Romana" 
                kind="subtitles" 
                srclang="ro" 
                src="./resurse/vtt/subtitrariro.vtt"
                default>
        
        
            <track 
                label="English" 
                kind="subtitles" 
                srclang="en" 
                src="./resurse/vtt/captionen.vtt">

        </video>
    </div>